{{ define "main" }}
<main class="list">
    <h3 class="list__title">最新文章</h3>
    <div class="list__cards">
        {{ $paginator := .Paginate (where .RegularPages "Section" "posts") 4 }}
        {{ range $paginator.Pages }}
        <div class="list__card shadow-soft">
            <a href="{{ .RelPermalink }}">
                <h4>
                    {{ .Title }}
                </h4>
                <p>{{ .Description }}</p>
                <p>{{ .Date.Format "January 2, 2006" }} &middot; {{ .Params.Author }}</p>
            </a>
        </div>
        {{ end }}
    </div>
    {{ if gt $paginator.TotalPages 1 }}
    <div class="list__selector">
        {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL }}">上一页</a>
        {{ end }}

        <p>第 {{ $paginator.PageNumber }} 页，共 {{ $paginator.TotalPages }} 页</p>

        {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}">下一页</a>
        {{ end }}
    </div>
    {{ end }}
</main>
{{ end }}