.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.markdown-body {
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: 90vw;
    padding: 2rem;
    color: var(--text-color);
    background-color: var(--card-bg-color);
    border-radius: var(--radius-lg);
}